name: Pipeline CI/CD - Web App
on:
  push:
    branches: [ main ]

jobs:
  # Job de Integración Continua (CI) y Pruebas
  ci_test_build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node-version: ['18', '20']
        os:
          [ubuntu-latest, windows-latest]

    steps:
      - name: 1. Descargar Código de Express
        uses: actions/checkout@v4

      - name: 2. Configurar Node.js (v${{ matrix.node-version }})
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: 3. Instalar Dependencias (npm ci)
        run: npm ci

      - name: 4. Ejecutar Pruebas de Endpoints (Jest/Supertest)
        run: npm test

      # TAREA 11 - Paso 3: Ejecutar el Build (Simulado y Limpieza)
      - name: 5. Ejecutar Build (Simulado) y Limpiar Dependencias
        run: |
          echo "Build simulado OK. Eliminando dependencias grandes para el Artifact..."
          rm -rf node_modules # Eliminación en Linux/macOS
        if: runner.os != 'Windows'
        
      # TAREA 11 - Paso 4: Subir el Artifact (Solo código fuente)
      - name: 6. Subir Artifact para Despliegue
        uses: actions/upload-artifact@v4
        with:
          name: web-app-package
          path: . # Sube el contenido de la carpeta raíz (sin node_modules)

  # Job de Despliegue Continuo (CD) a Vercel
  deploy_app:
    # TAREA 13 - Paso 7: Definir Dependencia
    runs-on: ubuntu-latest
    needs: [ci_test_build] # Solo se ejecuta si el CI (pruebas/build) fue exitoso

    steps:
      # TAREA 13 - Paso 8: Descargar el Artifact
      - name: 1. Descargar Artifact (web-app-package)
        uses: actions/download-artifact@v4
        with:
          name: web-app-package
          path: .
          
      # Las dependencias fueron excluidas del Artifact, deben reinstalarse en el entorno de Despliegue.
      - name: 2. Instalar Dependencias (npm ci)
        run: npm ci

      # TAREA 13 - Paso 9: Despliegue Real (Vercel)
      - name: 3. Despliegue a Vercel
        run: npx vercel deploy --prebuilt --token ${{ secrets.VERCEL_TOKEN }}
        env:
          # Es buena práctica incluir estos IDs como secretos de GitHub
          VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
          VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
