name: Pipeline CI/CD - Web App 
on: 
 push: 
  branches: [ main ]
jobs:
  ci_test_build:
   runs-on: ubuntu-latest
   strategy:
     matrix:
       node-version: ['18', '20']

   steps:
     - name: 1. Descargar C贸digo de Express
       uses: actions/checkout@v4
       
     - name: 2. Configurar Node.js (v${{ matrix.node-version }}) 
       uses: actions/setup-node@v4
       with:
         node-version: ${{ matrix.node-version }} 
         
     - name: 3. Instalar Dependencias (npm ci)
       run: npm ci
       
     - name: 4. Ejecutar Pruebas de Endpoints (Jest/Supertest)
       run: npm test
  deploy_app:
    runs-on: ubuntu-latest
    needs: [ci_test_build]
    
    steps:
     - name: 1. Descargar C贸digo para CD
       uses: actions/checkout@v4
       
     - name: 2. Ejecutar Simulaci贸n de Despliegue a Producci贸n
       run: |
         echo "=========================================="
         echo "CI OK. Iniciando Despliegue a Producci贸n..."
         echo "TOKEN de autenticaci贸n utilizado: $DEPLOY_TOKEN_VAR"
         echo " Aplicaci贸n Express desplegada con 茅xito!"
         echo "=========================================="
       env:
         DEPLOY_TOKEN_VAR: ${{ secrets.FAKE_DEPLOY_TOKEN }}
 
